<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <a routerLink="/">Konsultacje medyczne</a>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/calendar" routerLinkActive="active">Kalendarz</a></li>
      <li><a routerLink="/availability" routerLinkActive="active">Dostępność</a></li>
      <li>
        <a routerLink="/cart" routerLinkActive="active" class="cart-link">
          <i class="fas fa-shopping-cart"></i>
          Koszyk
          <span class="cart-count" *ngIf="cartItemsCount$ | async as count">
            {{ count }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
