<div class="calendar-container">
  <div class="calendar-header">
    <h2>{{ viewDate | date:'MMMM y' }}</h2>
    <div class="calendar-navigation">
      <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Poprzedni
      </button>
      <button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Dzisiaj
      </button>
      <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Następny
      </button>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [hourSegments]="hourSegments"
      [hourSegmentHeight]="hourSegmentHeight"
      [refresh]="refresh"
      (eventClicked)="handleEventClick($event)"
      (hourSegmentClicked)="handleSlotClick($event)"
      [tooltipTemplate]="tooltipTemplate"
      [headerTemplate]="customHeader"
      (beforeViewRender)="beforeWeekViewRender($event)">
    </mwl-calendar-week-view>
  </div>
</div>

<ng-template #tooltipTemplate let-event="event">
  <div [innerHTML]="getEventTooltip(event)"></div>
</ng-template>

<ng-template #customHeader let-days="days" let-locale="locale">
  <div class="cal-day-headers">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend">
      <b>{{ day.date | date:'EEEE' | titlecase }}</b>
      <span>{{ day.date | date:'d' }}</span>
      <div class="appointment-count" *ngIf="getAppointmentCount(day.date) > 0">
        {{ getAppointmentCount(day.date) }}
      </div>
    </div>
  </div>
</ng-template>

<app-appointment-form
  *ngIf="showAppointmentForm && selectedSlot"
  [selectedDate]="selectedSlot"
  [availableSlots]="availableSlots"
  (appointmentSubmitted)="onAppointmentSubmitted($event)"
  (formClosed)="closeForm()">
</app-appointment-form>
